.divProfileMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
    margin-top: 95px;
    position: relative;
}

.divUser .divUserInfo button{
    background-color: transparent;
    padding: 5px 18px 5px 15px;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid var(--lightGrey);
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.divUser .divUserInfo button:hover{
    border-color: var(--turquoise);
    color: var(--turquoise);
    transform: scale(1.02);
}

.divUserInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
}

.divUserInfo p,
.divUserInfo .paragraph{
    position: relative;
}

.paragraph .spanPublic,
p .spanPublic{
    position: absolute;
    top: -15px;
    display: none;
    font-size: 12px;
    color: var(--grey);
    text-shadow: none;
}

p:hover .spanPublic,
.paragraph:hover .spanPublic{
    display: block;
}

.imgBackground{
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 15px;
    object-fit: cover;
    z-index: -1;
}

.userInfoContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userImg{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 370px;
    min-height: 250px;
}

.imgController{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    top: -150px;
}

.imgController .img{
    border-radius: 50%;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border: 8px solid var(--deepgray);
    background-color: var(--black);
}

.footerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: var(--clearblack);
}

.footerDiv .paragraph,
.anotherUserInfoFooter p{
    width: 100%;
    font-size: 18px;
    color: var(--lightGrey);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.link{
    color: var(--lightGrey);
}

.divShowSimplified{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divShowSimplified span{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
}

.divSimplifiedData{
    display: none;
    position: absolute;
    padding: 3px 5px;
    border: 1px solid var(--lightGrey);
    border-radius: 5px;
    background-color: var(--black);
    z-index: 1;
}

.divSimplifiedData p{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease;
}

.divSimplifiedData p:hover{
    color: var(--whitesmoke);
}

.divSimplifiedData p img{
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.paragraph .divShowSimplified:hover .divSimplifiedData{
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: -2px;
    left: -2px;
}

.anotherUserData{
    height: 239px;
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 2rem;
    border-radius: 10px;
    background-color: var(--clearblack);
}

.anotherUserDataHeader{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.anotherUserDataHeader h2{
    font-size: 35px;
    text-shadow: 1px 1px 2px var(--turquoise);
}

.anotherUserData .anotherUserDataHeader button{
    font-size: 13px;
    padding: 4px 12px 4px;
}

.anotherUserDataContent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

.anotherUserDataContent div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.anotherUserDataContent p{
    width: 100%;
    font-size: 20px;
    color: var(--whitesmoke);
    font-weight: bold;
    text-shadow: 0.5px 0.5px 2px var(--turquoise);
}

.anotherUserDataContent input{
    background-color: transparent;
    font-size: 20px;
}

.spanData{
    text-shadow: none;
    font-size: 18px;
    font-weight: normal;
    color: var(--lightGrey);
}

.anotherUserInfoFooter .divBiography p{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-wrap: break-word;
}

.divBiography .spanData{
    max-width: 100%;
}


.noRegistry{
    text-shadow: none;
    font-weight: normal;
    font-size: 15px;
    color: var(--grey);
}

.anotherUserInfoFooter{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

.divBiography{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--clearblack);
    margin-bottom: 10px;
}

.formBiography{
    position: relative;
}

.biographyText{
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    border: 2px solid var(--grey);
    border-radius: 5px;
    padding: 2px 50px 2px 6px;
    color: var(--lightGrey);
    font-size: 17px;
    width: 100%;
    height: 100px;
    padding-top: 5px;
    outline: none;
    min-height: 57px;
    resize: vertical;
    transition: all 0.3s ease-in-out;
}

.biographyText:focus{
    border-color: var(--turquoise);
    color: var(--turquoise);
}

.biographyText::placeholder{
    font-size: 15px;
    color: var(--mediumgrey);
}

.footerFormBiography{
    position: absolute;
    padding: 10px 8px;
    right: 0;
    bottom: 0;
    display: none;
}

.footerFormBiography button{
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border: 5px;
    font-size: 15px;
    color: var(--grey);
    padding: 3px 3px 0;
    width: 80px;
    transition: all 0.2s ease-in-out;
}

.footerFormBiography button:hover{
    background-color: var(--clearblack);
    color: var(--lightGrey);
    border-bottom-color: var(--lightGrey);
}

.formBiography:focus-within .footerFormBiography{
    display: flex;
}

.youSpan{
    font-size: 14px;
    color: var(--grey);
}

.ellipsis{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    color: var(--grey);
}