.divMain{
    display: flex;
    flex-direction: column;
}

.divCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 95px;
    gap: 2rem;
}

.divContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
}

@media (max-width: 480px) {
    .divCenter{
        margin-top: 45px;
    }
    .divContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 75%;
    }
}