.divMain {
    display: flex;
    flex-direction: column;
}

.divCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 95px;
    gap: 2rem;
}

.linkAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.linkAdd .linkIcon {
    font-size: 40px;
    fill: var(--lightGrey);
    transition: all 0.3s ease;
}

.linkAdd:hover .linkIcon {
    fill: var(--turquoise);
    transform: scale(1.1);
}

.linkAdd:hover p {
    opacity: 1;
}

.linkAdd p {
    opacity: 0;
    transition: all 0.3s ease;
}

.linkAdd p {
    color: var(--grey);
    font-size: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 2rem;
    margin-bottom: 5rem;
}

.divSearchBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.searchBar .icon{
    position: absolute;
    fill: var(--grey);
    left: 10px;
    transition: all 0.3s ease;
}

.searchBar input{
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    font-size: 16px;
    color: var(--whitesmoke);
    background-color: transparent;
    transition: all 0.3s ease;
}

.searchBar input:focus,
.searchBar:focus-within .icon{
    color: var(--turquoise);
    border-color: var(--turquoise);
    fill: var(--turquoise);
}

.searchBar input::placeholder{
    font-size: 14px;
}

.divBtnOpt{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.iconButton{
    background-color: transparent;
    margin: 0;
}

.buttonIcon{
    font-size: 18px;
    fill: var(--lightGrey);
    transition: all 0.3s ease;
}

.buttonIcon:hover{
    fill: var(--turquoise);
}

.divOpt{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}

.filterOpt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.filterOpt p{
    margin-bottom: 5px;
    color: var(--lightGrey);
}

.filterOpt span{
    border-radius: 5px;
}

.filterOpt .statusOptions,
.filterOpt .select{
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.filterOpt .statusOptions{
    color: var(--grey);
    transition: all 0.3s ease;
}

.filterOpt .statusOptions:hover{
    background-color: var(--mediumgrey);
    color: var(--whitesmoke);
}

.filterOpt .select{
    background-color: var(--turquoise);
    color: var(--black);
}

.info{
    color: var(--grey);
    font-size: 14px;
}

.gamesDiv {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
}

.pagination {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    padding: 2px;
    color: var(--lightGrey);
    transition: all 0.3s ease;
}

.pagination button .icon {
    fill: var(--lightGrey);
    transition: all 0.3s ease;
}

.pagination button:disabled {
    color: var(--mediumgrey);
    cursor: not-allowed;
}

.pagination button:disabled .icon {
    fill: var(--mediumgrey);
}

.pagination .able:hover {
    border-color: var(--turquoise);
    color: var(--whitesmoke);
}

.pagination .able:hover .icon {
    fill: var(--turquoise);
}

.gameData {
    background-color: var(--black);
    position: relative;
    border: 5px solid transparent;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 5px var(--black);
    transition: all 0.3s ease;
}

.gameData:hover .divSimplifiedData,
.gameData:focus .divSimplifiedData {
    width: 100%;
    opacity: 1;
}

.gameData:hover,
.gameData:focus {
    border-radius: 10px;
    border-color: var(--turquoise);
    transform: scale(1.15);
    box-shadow: 2px 2px 10px 5px var(--turquoise);
}

.gameData:hover .divSimplifiedData h2,
.gameData:hover .divSimplifiedData p,
.gameData:focus .divSimplifiedData h2,
.gameData:focus .divSimplifiedData p {
    white-space: normal;
}

.divPin {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.divPin button {
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    padding: 0px 2px;
    background-color: var(--clearblack);
    transition: all 0.3s ease;
}

.divPin .pinController {
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    padding: 0px 2px;
    background-color: var(--clearblack);
    transition: all 0.3s ease;
}

.divPin .pinController .iconPin {
    font-size: 25px;
}

.iconDontPin,
.iconPin {
    font-size: 16px;
    transition: all 0.3s ease;
}

.divPin button:hover {
    transform: scale(1.2);
}

.divPin button:hover .iconDontPin {
    fill: var(--turquoise);
}

.iconDontPin {
    fill: var(--lightGrey);
}

.iconPin {
    fill: var(--turquoise);
}

.gameImg {
    width: 200px;
    min-height: 260px;
    max-height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.divSimplifiedData {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 5px;
    width: 0px;
    height: 100%;
    top: 0;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(35, 35, 35, 0.9);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease;
}

.btnSummary {
    width: 100%;
    background-color: transparent;
    font-size: 16px;
    color: var(--lightGrey);
    transition: all 0.5s ease;
}

.btnSummary:hover {
    color: var(--whitesmoke);
}

.divSummary {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 2px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

.bigGameData {
    transform: scale(1.5);
    z-index: 2;
    box-shadow: 2px 2px 10px 5px transparent;
    border: 5px solid transparent;
}

.bigGameData .divRating{
    display: none;
}

.bigGameData:hover,
.bigGameData:focus {
    transform: scale(1.5);
    box-shadow: 2px 2px 10px 5px transparent;
}

.platinumGame {
    border-top-color: rgba(193, 190, 186, 0.9);
    border-right-color: rgba(217, 215, 213, 0.9);
    border-bottom-color: rgba(241, 241, 239, 0.9);
    border-left-color: rgba(205, 203, 199, 0.9);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(241, 241, 239, 0.5);
}

.divContent {
    max-height: 93%;
    overflow-y: auto;
    padding: 5px 3px;
    border-radius: 5px;
    background-color: var(--clearblack);
}

.divSummary .summaryContent {
    font-size: 12px;
    color: var(--lightGrey);
}

.divSummary .btnSummary {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.divSimplifiedData h2,
.divSimplifiedData p {
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.divSimplifiedData h2 {
    position: relative;
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0px 5px 0px 5px;
}

.divSimplifiedData h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 3px;
    background-color: var(--turquoise);
    transition: all 0.3s ease;
}

.divSimplifiedData h2:hover::after {
    width: 100%;
}

.divSimplifiedData h2:hover {
    color: var(--turquoise);
}

.divSimplifiedData p {
    font-size: 12px;
    font-weight: bold;
    color: var(--whitesmoke);
}

.divSimplifiedData p span {
    font-weight: normal;
    font-size: 12px;
    color: var(--lightGrey);
}

.btnDiv {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-top: 2px solid var(--grey);
    padding-top: 5px;
}

.divRating{
    position: absolute;
    z-index: 2;
    top: -14px;
    left: -14px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.divRating .ratingController{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    background-color: var(--mediumgrey);
    border: 2px solid var(--grey);
    font-weight: bold;
}

.divRating .aboveAverage{
    background-color: var(--black);
    border-color: var(--turquoise);
    color: turquoise;
}

.divRating .almostPerfect{
    color: var(--black);
    text-decoration: none;
    font-weight: 1000;
    text-shadow: 0px 0px 1px var(--turquoise);
    box-shadow:
        2px 2px 0.5em rgba(122, 122, 122, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #cacade;
    background:
        -moz-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        -webkit-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        -o-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
}

.divRating .perfect{
    color: var(--black);
  text-decoration: none;
  font-weight: 1000;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 98, 0, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #deca73;
  background:
    -moz-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 1%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  background:
  linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
}

.divRating .bad{
    background-color: var(--black);
    border-color: #FFC72C;
    color: #FFC72C;
}

.divRating .horrible{
    background-color: var(--black);
    border-color: #FF3800;
    color: #FF3800;
}

.divRating .unplayable{
    font-weight: 1000;
    background-color: var(--black-blue);
    border-color: #660000;
    color: #960018;
}

.divEditRating{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--grey);
    width: 100%;
}

.divEditRating .ratingController{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.divEditRating .ratingController label{
    color: var(--lightGrey);
    font-size: 14px;
}

.divEditRating .ratingController input{
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--grey);
    background-color: var(--black);
    width: 30px;
    height: 30px;
    font-weight: bold;
    border-radius: 50%;
    padding-right: 1px;
    color: var(--turquoise);
    transition: all 0.3s ease;
}

.divEditRating .ratingController input:focus{
    border-color: var(--turquoise);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.divEditRating .ratingController button{
    background-color: transparent;
    font-size: 13px;
    color: var(--lightGrey);
    transition: all 0.3s ease;
}

.divEditRating .ratingController button:hover{
    color: var(--whitesmoke);
}

.btnAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.btnAdd span {
    opacity: 0;
    color: var(--lightGrey);
    height: 0px;
    transition: all 0.3s ease;
}

.btnAdd .sideIcon {
    font-size: 20px;
    fill: var(--whitesmoke);
    transition: all 0.3s ease;
}

.btnAdd:hover span {
    height: 100%;
    opacity: 1;
}

.btnAdd:hover .sideIcon {
    fill: var(--turquoise);
    transform: scale(1.2);
}

.btnAdd:hover .iconRemove {
    fill: crimson;
}

.btnAdd .spanRemove {
    color: crimson;
}

.gameState {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--mediumgrey);
}

.gameState p {
    color: var(--lightGrey);
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid transparent;
}

.gameState .statusVouJogar {
    border-color: var(--whitesmoke);
    font-weight: bold;
}

.gameState .statusJogando {
    background-color: var(--black);
    border-color: var(--turquoise);
    color: var(--turquoise);
    box-shadow: 0px 0px 5px var(--turquoise);
    font-weight: bold;
}

.gameState .statusJaJoguei {
    background-color: var(--turquoise);
    border-color: var(--darkcyan);
    color: var(--black);
    font-weight: bold;
}

.gameState .statusVouPlatinar {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow:
        2px 2px 0.5em rgba(122, 122, 122, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #cacade;
    background-color: var(--turquoise);
}

.gameState .statusPlatinando {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--turquoise);
    box-shadow:
        2px 2px 0.5em rgba(122, 122, 122, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.34);
    border: 2px solid var(--darkcyan);
    background:
        -moz-linear-gradient(-72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1);
    background:
        -webkit-linear-gradient(-72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1);
    background:
        -o-linear-gradient(-72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1);
    background:
        linear-gradient(-72deg,
            #dedede,
            #ffffff 16%,
            #dedede 21%,
            #ffffff 24%,
            #454545 27%,
            #dedede 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedede 72%,
            #ffffff 80%,
            #dedede 84%,
            #a1a1a1);
}

.gameState .statusJaPlatinei {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow:
        2px 2px 0.5em rgba(122, 122, 122, 0.55),
        inset 1px 1px 0 rgba(255, 255, 255, 0.9),
        inset -1px -1px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #cacade;
    background:
        -moz-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        -webkit-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        -o-linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
    background:
        linear-gradient(-72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564);
}

.bigGameData .gameState .statusVouJogar {
    border-color: transparent;
}

.bigGameData .gameState .statusJogando {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0px 0px 5px transparent;
}

.bigGameData .gameState .statusJaJoguei {
    background-color: transparent;
    border-color: transparent;
}

.bigGameData .gameState .statusVouPlatinar {
    background-color: transparent;
    border-color: transparent;
}

.bigGameData .gameState .statusPlatinando {
    background-color: transparent;
    border-color: transparent;
}

.bigGameData .gameState .statusJaPlatinei {
    background-color: transparent;
    border-color: transparent;
}

.divStatus {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--grey);
    width: 100%;
}

.labelStatus {
    background-color: transparent;
    padding: 2px 5px;
    font-size: 14px;
    color: var(--lightGrey);
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    margin-bottom: 2px;
}

.labelStatus:hover {
    background-color: var(--clearblack);
    border-color: var(--turquoise);
}

.divStatus select {
    outline: none;
}

.selectStatus {
    top: -125px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: var(--black);
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--turquoise);
    width: 100%;
    padding: 0;
}

.statusOptions {
    background-color: transparent;
    width: 100%;
}

.statusOptions:hover {
    background-color: var(--deepgray);
}

.selectStatus .select {
    background-color: var(--turquoise);
    color: var(--black);
}

.noRegistry{
    text-shadow: none;
    font-weight: normal;
    font-size: 15px;
    color: var(--grey);
}

.userTitle{
    color: var(--lightGrey);
    margin-top: 1rem;
}

.btnAddAnother{
    padding-bottom: 5px;
}

/* Mobile */
@media (max-width: 480px) {
    .userTitle{
        font-size: 14px;
    }

    .divCenter {
        margin-top: 45px;
    }

    .pagination{
        justify-content: space-around;
        width: 100%;
        gap: 5px;
    }

    .pagination button{
        font-size: 12px;
        gap: 2px;
        padding: 0px;
    }

    .linkAdd{
        margin-top: -20px;
    }

    .linkAdd .linkIcon {
        font-size: 25px;
    }

    .linkAdd:hover .linkIcon {
        fill: var(--turquoise);
        transform: scale(1.0);
    }

    .linkAdd p {
        opacity: 1;
    }

    .linkAdd p {
        font-size: 10px;
    }

    .gamesDiv {
        gap: 1rem;
    }    

    .gameData {
        border: 3px solid transparent;
        border-radius: 5px;
        box-shadow: 2px 2px 6px 2px var(--black);
        transition: all 0.3s ease;
    }
    
    .gameData:hover,
    .gameData:focus {
        box-shadow: 2px 2px 6px 2px var(--turquoise);
    }

    .platinumGame {
        border-top-color: rgba(193, 190, 186, 0.9);
        border-right-color: rgba(217, 215, 213, 0.9);
        border-bottom-color: rgba(241, 241, 239, 0.9);
        border-left-color: rgba(205, 203, 199, 0.9);
        border-radius: 10px;
        box-shadow: 2px 2px 6px 2px rgba(241, 241, 239, 0.5);
    }

    .gameImg {
        width: 100px;
        min-height: 125px;
        max-height: 125px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .btnSummary {
        width: 100%;
        background-color: transparent;
        font-size: 10px;
        color: var(--lightGrey);
        transition: all 0.5s ease;
    }
    
    .divSummary {
        padding: 3px 1px;
    }
    
    .bigGameData {
        transform: scale(1.2);
        box-shadow: 2px 2px 6px 3px transparent;
        border: 3px solid transparent;
    }
    
    .bigGameData .divRating{
        display: none;
    }

    .divRating{
        width: 25px;
        height: 25px;
    }
    
    .divRating .ratingController{
        padding-right: 1px;
        border: 2px solid;
        font-size: 10px;
        font-weight: 1000;
    }
    
    .bigGameData:hover,
    .bigGameData:focus {
        transform: scale(1.2);
        box-shadow: 2px 2px 8px 3px transparent;
    }

    .divSummary .summaryContent {
        font-size: 8px;
    }

    .divSimplifiedData {
        gap: 1px;
        padding: 3px 2px;
    }

    .divSimplifiedData h2 {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .divSimplifiedData p {
        font-size: 8px;
        font-weight: normal;
    }
    
    .divSimplifiedData p span {
        font-weight: normal;
        font-size: 8px;
    }
    .btnSummary {
        font-size: 8px;
        font-weight: normal;
    }
    .btnAdd .spanRemove {
        display: none;
    }

    .divEditRating{
        padding-bottom: 5px;
        border-bottom: 1px solid var(--grey);
        width: 100%;
    }
    
    .divEditRating .ratingController{
        gap: 1px;
    }
    
    .divEditRating .ratingController label{
        font-size: 8px;
    }
    
    .divEditRating .ratingController input{
        border: 1px solid var(--grey);
        width: 20px;
        height: 20px;
        font-weight: normal;
        border-radius: 50%;
        padding-right: 1px;
        font-size: 8px;
    }

    .divEditRating .ratingController button{
        font-size: 8px;
    }

    .btnAdd .sideIcon {
        font-size: 10px;
    }

    .divStatus {
        border-top: 1px solid var(--grey);
    }
    
    .labelStatus {
        padding: 0px 3px;
        font-size: 8px;
    }

    .selectStatus {
        top: -90px;
        gap: 1px;
        border: 1px solid var(--turquoise);
    }

    .statusOptions,
    .select,
    .divOpt .filterOpt p{
        font-size: 10px;
    }
    
    .gameState p {
        font-size: 10px;
        font-weight: bold;
    }

    .pDate{
        display: none;
    }

    .divSearchBar{
    }
    
    .searchBar{
        width: 60%;
        height: 25px;
    }
    
    .searchBar .icon{
        font-size: 12px;
    }
    
    .searchBar input{
        width: 100%;
        height: 100%;
        padding: 0px 25px;
        font-size: 14px;
    }
    
    .searchBar input::placeholder{
        font-size: 12px;
    }

    .noRegistry{
        text-shadow: none;
        font-weight: normal;
        font-size: 10px;
        color: var(--grey);
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .gameData {
        border: 5px solid transparent;
        border-radius: 5px;
        box-shadow: 2px 2px 8px 2px var(--black);
        transition: all 0.3s ease;
    }
    
    .gameData:hover,
    .gameData:focus {
        box-shadow: 2px 2px 8px 2px var(--turquoise);
    }

    .platinumGame {
        border-top-color: rgba(193, 190, 186, 0.9);
        border-right-color: rgba(217, 215, 213, 0.9);
        border-bottom-color: rgba(241, 241, 239, 0.9);
        border-left-color: rgba(205, 203, 199, 0.9);
        border-radius: 10px;
        box-shadow: 2px 2px 8px 2px rgba(241, 241, 239, 0.5);
    }
}

/* Desktop */
@media (min-width: 769px) and (max-width: 1037px) {
    .gamesDiv {
        gap: 1.5rem;
    }    

    .gameData {
        border: 5px solid transparent;
        border-radius: 5px;
        box-shadow: 2px 2px 8px 2px var(--black);
        transition: all 0.3s ease;
    }
    
    .gameData:hover,
    .gameData:focus {
        box-shadow: 2px 2px 8px 2px var(--turquoise);
    }

    .platinumGame {
        border-top-color: rgba(193, 190, 186, 0.9);
        border-right-color: rgba(217, 215, 213, 0.9);
        border-bottom-color: rgba(241, 241, 239, 0.9);
        border-left-color: rgba(205, 203, 199, 0.9);
        border-radius: 10px;
        box-shadow: 2px 2px 8px 2px rgba(241, 241, 239, 0.5);
    }

    .gameImg {
        width: 180px;
        min-height: 240px;
        max-height: 240px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .btnSummary {
        width: 100%;
        background-color: transparent;
        font-size: 16px;
        color: var(--lightGrey);
        transition: all 0.5s ease;
    }
    
    .divSummary {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 2px;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
    }
    
    .bigGameData {
        transform: scale(1.5);
        z-index: 2;
        box-shadow: 2px 2px 10px 5px transparent;
        border: 5px solid transparent;
    }
    
    .bigGameData .divRating{
        display: none;
    }
    
    .bigGameData:hover,
    .bigGameData:focus {
        transform: scale(1.5);
        box-shadow: 2px 2px 10px 5px transparent;
    }

    .divSimplifiedData h2 {
        position: relative;
        font-size: 16px;
        text-align: center;
        margin-bottom: 2px;
    }

    .divSimplifiedData p {
        font-size: 11px;
        font-weight: normal;
    }
    
    .divSimplifiedData p span {
        font-weight: normal;
        font-size: 11px;
        color: var(--lightGrey);
    }
    .btnSummary {
        font-size: 13px;
        font-weight: bold;
    }
    .btnAdd .spanRemove {
        display: none;
    }
}