.containerPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 1rem;
}

.filterOpt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: var(--clearblack);
    border-radius: 5px;
    border: 2px solid var(--mediumgrey);
    gap: 2px;
}

.filterOpt p{
    margin-bottom: 5px;
    color: var(--lightGrey);
}

.filterOpt span{
    cursor: pointer;
}

.filterOpt .opt{
    color: var(--grey);
    transition: all 0.3s ease;
}

.filterOpt .opt:hover{
    color: var(--lightGrey);
}

.filterOpt .optSelected{
    color: var(--whiteSmoke);
    transition: all 0.3s ease;
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.pagination button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    padding: 2px;
    color: var(--lightGrey);
    transition: all 0.3s ease;
}

.pagination button .icon{
    fill: var(--lightGrey);
    transition: all 0.3s ease;
}

.pagination button:disabled{
    color: var(--mediumgrey);
    cursor: not-allowed;
}

.pagination button:disabled .icon{
    fill: var(--mediumgrey);
}

.pagination .able:hover{
    border-color: var(--turquoise);
    color: var(--whiteSmoke);
}

.pagination .able:hover .icon{
    fill: var(--turquoise);
}

.divPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid var(--mediumgrey);
    width: 100%;
    padding: 1rem 10px 1rem 10px;
    gap: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s ease;
}

.divPost:hover{
    background-color: var(--clearblack);
}

.postHeader,
.headerInfo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.postHeader .headerControl{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.postOption{
    display: none;
}

.iconButton{
    padding: 2px;
    background-color: transparent;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 0px 5px;
}

.iconButton .trashIcon,
.iconButton .buttonIcon{
    fill: var(--grey);
    transition: all 0.3s ease;
}

.iconButton:hover .trashIcon{
    fill: crimson;
    transform: scale(1.3);
}

.iconButton:hover .buttonIcon{
    fill: var(--turquoise);
    transform: scale(1.3);
}

.postHeader img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    box-shadow: 0px 0px 5px var(--black);
}

.postHeader p, .author, .date{
    font-size: 16px;
    color: var(--lightGrey);
}

.postHeader .author{
    font-weight: bold;
    font-size: 22px;
    position: relative;
    transition: all 0.3s ease;
}

.author::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: var(--turquoise);
    transition: all 0.3s ease;
}
  
.author:hover::after{
    width: 100%;
}

.postContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.postContent .title{
    font-size: 30px;
    font-weight: bold;
    max-width: 100%;
    overflow-wrap: break-word;
}

.postContent .content{
    font-size: 20px;
    color: var(--lightGrey);
    max-width: 100%;
    overflow-wrap: break-word;
}

.postContent .postImage{
    max-width: 100%;
    max-height: 665px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid var(--mediumgrey);
    transition: all 0.3s ease;
}

.divPost:hover .postImage{
    border-color: var(--grey);
    box-shadow: 0px 0px 5px var(--black);
}

.divPost .divBtnImage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPost .divBtnImage div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.divPost .divBtnImage label{
    font-size: 14px;
    color: var(--grey);
}

.divPost .btnShowImage{
    background-color: transparent;
    padding: 0px;
    color: var(--lightGrey);
    font-size: 15px;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease;
}

.btnShowImage::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 1px;
    background-color: var(--turquoise);
    transition: all 0.3s ease;
}
  
.btnShowImage:hover::after{
    width: 100%;
}

.postFooter{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.postFooter button{
    background-color: transparent;
    font-size: 20px;
}

.postFooter .postIcon, .postFooter .postIconDislike{
    border: 2px solid transparent;
    padding: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 1.6rem;
}

.postFooter .postIcon:hover{
    fill: var(--turquoise);
    transform: scale(1.2);
}

.postFooter .postIconDislike:hover{
    fill: crimson;
    transform: scale(1.2);
}

.opinionActivatedLike{
    fill: var(--turquoise);
    transform: scale(1.3);
}

.opinionActivatedDislike{
    fill: crimson;
    transform: scale(1.3);
}

.divLike{
    position: relative;
}

.divLike p{
    position: absolute;
    margin-top: 0 auto;
    width: 100%;
    font-size: 10px;
    color: var(--grey);
}

.youSpan{
    font-size: 14px;
    color: var(--grey);
    display: none;
}

.divPost:hover .youSpan,
.divPost:hover .postOption
{
    display: inline;
}

.communityLink p{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--grey);
}

.communityLink p span{
    margin-left: 5px;
    display: none;
    opacity: 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.communityLink p span img{
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.communityLink p:hover span{
    display: flex;
    align-items: center;
    opacity: 1;
    border-bottom-color: var(--turquoise);
    animation-duration: 1s;
    animation-name: showText;
}

.communityLink{
    width: 50%;
}

@keyframes showText {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .containerPosts {
        width: 75%;
    }

    .communityLink{
        width: 100%;
    }

    .postHeader,
    .headerInfo {
        gap: 2px;
    }

    .pagination{
        justify-content: space-around;
        width: 100%;
        gap: 5px;
    }

    .pagination button{
        font-size: 12px;
        gap: 2px;
        padding: 0px;
    }

    .divPost:hover .youSpan {
        display: block;
    }

    .divPost:hover .postOption {
        display: flex;
    }

    .youSpan{
        font-size: 10px;
    }

    .postOption{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 30px;
    }

    .postHeader .headerControl{
        justify-content: none;
    }

    .iconButton{
        font-size: 12px;
        margin: 0 4px;
        padding: 0;
    }

    .postHeader img{
        border-radius: 50%;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
    }
    
    .postHeader p, .author{
        font-size: 12px;
        color: var(--lightGrey);
    }

    .date, .headerInfo span{
        display: none;
    }
    
    .postHeader .author{
        font-weight: bold;
        font-size: 15px;
    }

    .postContent .title{
        font-size: 18px;
    }

    .postContent .content{
        font-size: 15px;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .postContent .title{
        font-size: 20px;
    }
}

/* Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
    .postContent .title{
        font-size: 25px;
    }
}