.containerPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerPost h2{
    color: var(--turquoise);
    margin-bottom: 15px;
}

.formPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--turquoise);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--clearblack);
    gap: 1rem;
    min-width: 40%;
    max-width: 60%;
}

.formPost div{
    max-height: 100%;
    width: 100%;
}

.formPost div label{
    margin-right: 2px;
    font-size: 22px;
    color: var(--turquoise);
}

.formPost div input, .formPost textarea{
    background-color: transparent;
    border: none;
    border-left: 2px solid var(--turquoise);
    border-bottom: 2px solid var(--turquoise);
    border-bottom-left-radius: 5px;
    padding: 2px 2px 2px 6px;
    color: var(--turquoise);
    font-size: 15px;
    width: 100%;
}

.formPost .divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.formPost img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.formPost div textarea{
    max-width: 100%;
    height: 100px;
}

.formPost div input::placeholder,.formPost div textarea::placeholder{
    font-size: 15px;
    color: var(--mediumgrey);
}

.formPost .imageLabel{
    color: var(--lightGrey);
    cursor: pointer;
}

.formPost .imageLabel span{
    color: var(--lightGrey);
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.formPost .imageLabel:hover span{
    color: var(--turquoise);
}

.formPost div input[type="file"]{
    display: none;
}

.formPost textarea{
    padding-top: 5px;
    outline: none;
}

.divTextarea{
    display: flex;
    flex-direction: column;
}

.divButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    border: 2px solid var(--turquoise);
    border-radius: 5px;
    color: var(--turquoise);
    width: 20%;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: var(--turquoise);
    color: var(--black);
    font-weight: bold;
    transform: scale(1.1);
}

.button:disabled{
    background-color: var(--deepgray);
    color: var(--whitesmoke);
    cursor: default;
}

.button:disabled:hover{
    font-weight: normal;
    transform: none;
}

.searchGamesDiv .gameLabel{
    color: var(--lightGrey);
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchGamesDiv .gameLabel:hover{
    color: var(--whitesmoke);
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.searchBar .icon{
    position: absolute;
    fill: var(--grey);
    left: 10px;
    z-index: 2;
    transition: all 0.3s ease;
}

.formPost .searchBar input{
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    font-size: 16px;
    color: var(--whitesmoke);
    background-color: rgba(35, 35, 35, 1);
    transition: all 0.3s ease;
    border-color: var(--grey);
    z-index: 1;
}

.searchBar input:focus,
.searchBar:focus-within .icon{
    color: var(--turquoise);
    border-color: var(--turquoise);
    fill: var(--turquoise);
}

.searchBar input::placeholder{
    font-size: 14px;
}

.searchBar .btnSearch{
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    z-index: 0;
    height: 100%;
    padding: 5px 5px 5px 20px;
    margin-left: -15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.searchBar .btnSearch:hover{
    background-color: var(--turquoise);
    color: var(--black);
}

.searchResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.searchResult span{
    color: var(--lightGrey);
}

.searchResult .btnClear{
    background-color: transparent;
    padding: 2px 10px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    font-size: 16px;
    transition: all 0.3s ease;
}

.searchResult .gamesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.searchResult .gamesDiv .gameOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    padding: 2px 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--grey);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.searchResult .gamesDiv .gameOptions:hover{
    color: var(--black);
    background-color: var(--turquoise);
}

.searchResult .gamesDiv .gameOptions .gameCover{
    width: 35px;
    height: 50px;
    background-color: var(--black);
    border-radius: 5px;
    border: 2px solid var(--mediumgrey);
    transition: all 0.3s ease;
}

.searchResult .gamesDiv .gameOptions:hover{
    transform: scale(1.2);
}

.searchResult .gamesDiv .select{
    color: var(--black);
    background-color: var(--darkcyan);
}

.searchResult .btnClear:hover{
    transform: scale(1.05);
    border-color: var(--turquoise);
}

@media (max-width: 480px) {
    .formPost{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid var(--turquoise);
        border-radius: 10px;
        padding: 20px;
        background-color: var(--clearblack);
        gap: 1rem;
        min-width: 40%;
        max-width: 75%;
        text-align: center;
    }
    .formPost div label{
        font-size: 15px;
        color: var(--turquoise);
    }
    .formPost div input, .formPost textarea{
        font-size: 14px;
        width: 100%;
    }
    .button{
        background-color: transparent;
        padding: 5px;
        font-size: 15px;
        border: 2px solid var(--turquoise);
        width: 35%;
    }

    .searchGamesDiv .gameLabel{
        font-size: 10px;
    }
    
    .searchBar{
        width: 100%;
        height: 30px;
        margin-top: 10px;
    }
    
    .searchBar .icon{
        position: absolute;
        fill: var(--grey);
        left: 10px;
        font-size: 12px;
        z-index: 2;
    }
    
    .formPost .searchBar input{
        padding: 2px 5px 2px 25px;
        font-size: 13px;
    }
    
    .formPost .searchBar input::placeholder{
        font-size: 12px;
    }
    
    .searchBar .btnSearch{
        background-color: transparent;
        font-size: 10px;
        font-weight: bold;
        z-index: 0;
        height: 100%;
        padding: 1px 8px 1px 16px;
        border: 1px solid var(--mediumgrey);
        margin-left: -15px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    
    .searchBar .btnSearch:hover{
        background-color: var(--turquoise);
        color: var(--black);
    }
}