.divNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom: 2px solid var(--mediumgrey);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--lightBlack);
}

.logoLink{
    width: 25%;
}

.ulNavbar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 10px;
    height: 100%;
}
    

.ulNavbar .navbarLink, .ulNavbar .navbarLink{
    padding: 5px 15px;
}

.ulNavbar .navbarLink, .ulNavbar .navbarLink span{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px var(--turquoise);
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 50px;
}

.profileOpt{
    position: absolute;
    bottom: -70px;
    right: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--mediumgrey);
    background-color: var(--lightBlack);
    padding: 5px 10px;
}

.profileOpt .option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.profileOpt .option:hover{
    background-color: var(--deepgray);
}

.ulNavbar .navbarLink:hover{
    border: 2px solid var(--turquoise);
    background-color: var(--turquoise);
    color: var(--black);
}

.ulNavbar .navbarLink:hover{
    transform: scale(1.1);
}

.img{
    border-radius: 50%;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40px;
    margin-top: 10px;
    position: relative;
}

.searchBar .icon{
    position: absolute;
    fill: var(--grey);
    left: 10px;
    transition: all 0.3s ease;
}

.searchBar input{
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    font-size: 16px;
    color: var(--whitesmoke);
    background-color: transparent;
    transition: all 0.3s ease;
}

.searchBar input:focus,
.searchBar:focus-within .icon{
    color: var(--turquoise);
    border-color: var(--turquoise);
    fill: var(--turquoise);
}

.searchBar input::placeholder{
    font-size: 14px;
}

.simplifiedDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    top: 50px;
    min-width: 30%;
    max-width: 75%;
    padding: 5px 15px;
    background-color: var(--lightBlack);
    border-radius: 5px;
    border: 2px solid var(--mediumgrey);
}

.simplifiedDisplay .spanData{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--lightGrey);
    border: 2px solid transparent;
    gap: 5px;
    transition: all 0.3s ease;
}

.simplifiedDisplay .spanData:hover{
    color: var(--whitesmoke);
    background-color: var(--deepgray);
    border-color: var(--turquoise);
    box-shadow: 0px 0px 10px var(--darkSlateGray);
}

.simplifiedDisplay .spanData img{
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.divisionSearch,
.divisionSearchCommunity{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: var(--whitesmoke);
}

.divisionSearchCommunity{
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid var(--mediumgrey);
}

.noRegistry{
    text-shadow: none;
    font-weight: normal;
    font-size: 15px;
    color: var(--grey);
}