.sideDiv{
    position: fixed;
    left: 0px;
    width: 90px;
    max-width: 250px;
    border-right: 2px solid var(--mediumgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    padding: 20px 0;
    gap: 2rem;
    transition: all 0.3s ease;
}

.sideDiv:hover{
    width: 250px;
    gap: 3rem;
}

.sideDiv:hover .sideIcon{
    transform: scale(1.2);
}

.sideDiv label{
    overflow: hidden;
    cursor: pointer;
    display: none;
    white-space: nowrap;
    animation-duration: 1s;
    animation-name: showText;
}

@keyframes showText {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.sideDiv:hover label,
.sideDiv:hover .sideContent,
.sideDiv:hover .sideFooter .sideIcon,
.sideDiv:hover .sideFooter .link,
.sideDiv:hover .sideFooter .formCommunity{
    display: inline-block;
}

.sideDiv:hover .sideDivContainer{
    border-bottom-color: var(--mediumgrey);
    width: 90%;
    padding-bottom: 10px;
}

.sideDiv div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
}

.sideDiv .sideDivContainer{
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
}

.sideDiv .sideHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sideDiv .sideContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    overflow: hidden;
    animation-duration: 1s;
    animation-name: showText;
    white-space: nowrap;
    gap: 5px;
    transition: all 0.3s ease;
}

.sideDiv .sideContent .divData{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sideContent .divData img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 2px solid var(--black);
}

.sideContent .divData p{
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.sideContent .divData:hover p{
    color: var(--whiteSmoke);
    border-bottom-color: var(--turquoise);
}

.sideDiv div label,
.sideDiv div .sideIcon,
.sideDivContainer .sideFooter .sideIcon,
.sideDivContainer .sideFooter .link{
    color: var(--lightGrey);
    fill: var(--lightGrey);
    font-size: 18px;
    transition: all 0.3s ease;
}

.sideDiv div .sideHeader:hover label,
.sideDiv div .sideHeader:hover .sideIcon{
    color: var(--turquoise);
    fill: var(--turquoise);
}

.sideDiv div .sideHeader::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: var(--turquoise);
    transition: all 0.3s ease;
}
  
.sideDiv div .sideHeader:hover::after{
    width: 100%;
}

.sideDivContainer .sideFooter .sideIcon{
    overflow: hidden;
    cursor: pointer;
    display: none;
    animation-duration: 1s;
    animation-name: showText;
    font-size: 25px;
}

.sideDivContainer .sideFooter .formCommunity{
    overflow: hidden;
    display: none;
    animation-duration: 1s;
    animation-name: showText;
}

.sideDivContainer .sideFooter .link{
    overflow: hidden;
    cursor: pointer;
    display: none;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
    animation-duration: 1s;
    animation-name: showText;
    font-size: 16px;
}

.sideDivContainer .sideFooter .link:hover {
    border-bottom-color: var(--turquoise);
    color: var(--whiteSmoke);
}

.sideDivContainer .sideFooter .sideIcon:hover{
    fill: var(--turquoise);
}

.sideContent .divFollowing button{
    border-right: 3px solid var(--grey);
    border-top: 3px solid var(--grey);
    background-color: transparent;
    margin: 0px 2px;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    transition: all 0.3s ease;
}

.sideContent .divFollowing .paragraph{
    color: var(--grey);
    font-size: 15px;
    font-weight: bold;
}

.sideContent .divFollowing .buttonActivated{
    rotate: 135deg;
    border-right-color: var(--turquoise);
    border-top-color: var(--turquoise);
}

.noRegistry{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--grey);
    cursor: default;
}