.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/publish
**/node_modules
**/dist
**/coverage
**/TestResults

gamehub.client
node_modules

*.user
*.suo
*.log
*.pfx
*.p12
*.pem
*.key
.env
.env.*
**/appsettings.Local.json
**/appsettings.*.local.json

DEPLOY.md
PROJECT_GUIDE.md
README.md
