@import url('https://fonts.cdnfonts.com/css/do-futuristic');

:root{
  /*-----------------------------------*/
  --turquoise: #00C6CF;
  --darkcyan: #068488;
  --darkSlateGray: #324B4C;

  /*-----------------------------------*/
  --whitesmoke: rgb(229, 229, 229);
  --lightGrey: rgb(189, 189, 189);
  --grey: rgb(106, 106, 106);
  --mediumgrey: rgb(80, 80, 80);
  --deepgray: #2C2C2C;
  --clearblack: rgba(35, 35, 35, 0.8);
  --lightBlack: rgb(35,35,35);
  --black-blue: rgb(22, 22, 32);
  --black: rgb(23, 23, 23);
  /*-----------------------------------*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--whitesmoke);
}

body{
  background-color: var(--deepgray);
}

button, input{
  outline: none;
  border: none;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

h1, .linkLogo, .logoDetail{ 
  font-family: 'DO Futuristic', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px var(--turquoise);
}

.logoDetail{
  color: var(--turquoise);
}

.btn{
  padding: 5px 1rem;
  border-radius: 10rem;
  color: var(--black);
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--turquoise);
  transition: all 0.3s ease;
  opacity: 0.8;
}

.btn:hover{
  opacity: 1;
  transform: scale(1.05);
}

.btnTransparent{
  background-color: transparent;
  padding: 5px 18px 5px 15px;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid var(--lightGrey);
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.btnTransparent:hover{
  border-color: var(--turquoise);
  color: var(--turquoise);
  transform: scale(1.02);
}

.link{
  position: relative;
  transition: all 0.3s ease;
}

.link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 1px;
  background-color: var(--turquoise);
  transition: all 0.3s ease;
}

.link:hover::after{
  width: 100%;
}

.link:hover{
  color: var(--turquoise);
}

.form{
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage{
  font-size: 0.8rem;
  color: crimson;
  font-weight: bold;
}

.submitting {
  pointer-events: none;
  opacity: 0.5;
}

.navbar{
  margin: 0 0 15px 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.loading{
  margin: 2rem 2rem;
}

.iconOpinion{
  fill: var(--grey);
}